{% extends "base.html.j2" %} {% block content %}
<form id="drawForm">
  <div>
    <p>Color channels:</p>
    <input type="checkbox" name="red" />
    <label for="red">Red</label>
    <input type="checkbox" name="green" />
    <label for="Green">Green</label>
    <input type="checkbox" name="blue" checked />
    <label for="Green">Blue</label>
  </div>
  <div>
    <p>Number of circles: <span id="amountDisplay"></span></p>
    <input
      type="range"
      min="1"
      max="200"
      value="20"
      name="amount"
      class="slider"
      id="amount"
    />
  </div>
  <div>
    <p>Minimum radius: <span id="minDisplay"></span></p>
    <input
      type="range"
      min="1"
      max="200"
      value="5"
      name="min"
      class="slider"
      id="min"
    />
    <p>Maximum radius: <span id="maxDisplay"></span></p>
    <input
      type="range"
      min="1"
      max="250"
      value="200"
      name="max"
      class="slider"
      id="max"
    />
  </div>
  <button type="button" id="submit-btn">Draw</button>
  <a id="download-btn" download=""><button type="button">Save</button></a>
</form>
<div id="drawing"></div>
{% endblock content %}
